# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Entornos
.venv/
env/
venv/

# Datos grandes / derivados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.pkl
reports/figures/*
*.zip

# IDE
.vscode/
.idea/
